body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-image: url("img/bg.png");
  object-fit: cover;
}

.button_wrapper {
  display: flex;
  margin-top: 20px;
}

input[value="Add Pet!"] {
  border: none;
  margin-inline: auto;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(to right, #fd746c, #ff9068);
  box-shadow: 2px 5px 8px -1px rgba(0, 0, 0, 0.56);
}
