body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("img/bg.png");
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-top: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

li {
  font-size: 1.2rem;
}
.button_wrapper {
  display: flex;
  margin-top: 20px;
}

label {
  font-size: 1.3rem;
}

h2 {
  margin-top: 35px;
}

input[value="Add Pet!"] {
  border: none;
  margin-inline: auto;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(to right, #fd746c, #ff9068);
  box-shadow: 2px 5px 8px -1px rgba(0, 0, 0, 0.56);
}

#addPetForm input[type="text"] {
  border: 2px solid #ffa6a1;
  background-color: #edc5b7;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}
